main {
  min-height: 35rem;
}
h3 {
  padding: 1rem;
}
h1 {
  font-size: 1.8rem;
  padding:1rem 0;
}
h2 {
  font-size: 1.4rem;
  padding:1rem 0.5rem;
}
.rating span {
  margin: 0.1rem;
}
#username{
  color:  white !important;
}
